<div class="navbar bg-base-200 shadow-sm mb-6">
  <div class="container mx-auto">
    <%= link_to "dorm-guard", sites_path, class: "btn btn-ghost text-xl" %>
    <div class="flex-1"></div>
    <%= link_to "Sites", sites_path, class: "btn btn-ghost" %>
    <%= link_to "New site", new_site_path, class: "btn btn-primary btn-sm ml-2" %>
  </div>
</div>
